.employee_card{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border: 1px solid red;
    height: 40vh;
    
}
.employee_image{
   height: 50%;
   width: 100%;
  
   margin-top: 0%;
}
.list_container{
    display: grid;
    margin: 50px;
    grid-template-columns: 30% 30% 30%;
    grid-gap:2%;
    text-align: center;
    justify-content: center;
    /* height: 300px;
    width: 300px; */
}
.employee_name{
    text-decoration:none;
    color: rgb(141, 27, 44);
    font-weight: 900;
}
.employee_title{
    text-decoration:none;
    color: rgb(15, 187, 121);
    font-weight: 400;
}